<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<div class="container">
    <div class="container" align="center"><h1>修改密码</h1></div>
    <div class="container" align="center"><img th:src="@{/asserts/img/psw.png}" alt=" " width="122" height="100" class="rounded-circle img-fluid"/>
    </div>
    <body>
    <form th:action="@{/user/findpassword}"   align="center">
        <div class="form-group">
            <label >请输入用户名</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="oyhj">
        </div>
        <div class="form-group">
            <label >请输入邮箱</label>
            <input type="email" class="form-control" name="email"  placeholder="Enter email">
            
        <hr>
            <div class="form-group">
                <label >请修改密码</label>
                <input type="text" class="form-control" name="userpassword"  placeholder="Password">
            </div>
        <button type="submit" class="btn btn-success">修改</button>
        <a th:href="@{/user/turnlogin}"><button type="button" class="btn btn-primary" style="margin:10px">用户登录</button>
    </form>
    </body>
</html>
