<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无标题文档</title>
    <link th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<div class="container">
    <div class="container" align="center"><h1>用户注册</h1></div>
    <div class="container" align="center"><img th:src="@{/asserts/img/new.png}" alt=" " width="122" height="100" class="rounded-circle img-fluid"/>
    </div>
    <body>
    <form th:action="@{/user/new}"  method="post" align="center">
        <div class="form-group">
            <label for="exampleInputPassword1">用户名</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="oyhj">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">
            <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
        <button type="submit" class="btn btn-success">注册</button>
        <a th:href="@{/user/turnlogin}"><button type="button" class="btn btn-primary" style="margin:10px">用户登录</button>
    </form>

    </body>
</html>
